<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yukai.mydefinedview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyView.MyDefinedViewActivity" />
        <activity android:name=".BasicView.BasicViewActivity" />
        <activity android:name=".BasicView.RecyclerView.RecyclerViewActivity" />
        <activity android:name=".BasicView.Grid.GridViewActivity" />
        <activity android:name=".BasicView.PopUpWindow.PopUpWindowActivity" />
        <activity android:name=".BasicView.AnimTest.AnimTestActivity" />
        <activity android:name=".ArtLearningNote.ArtTotal"/>
        <activity android:name=".ArtLearningNote.chapter3_1.Chapter3_1"/>
        <activity android:name=".ArtLearningNote.chapter3_2.Chapter3_2"/>
        <activity android:name=".ArtLearningNote.chapter3_3.Chapter3_3"/>
        <activity android:name=".ArtLearningNote.chapter3_4.Chapter3_4"/>
        <activity android:name=".MyView.MyTextView.MyTextViewActivity"/>
        <activity android:name=".MyView.MyTopBarView.MyTopBarViewActivity"/>
        <activity android:name=".MyView.MyCircleRatingView.MyCircleRatingViewActivity"/>
        <activity android:name=".MyView.MyMediaRectView.MyMediaRectViewActivity"/>
        <activity android:name=".MyView.MySimpleView.MySimpleViewActivity"/>
        <activity android:name=".MyView.MyAutoLayout.MyAutoLayoutActivity"/>
        <activity android:name=".BasicView.RatingBar.RatingBarActivity"/>

    </application>

</manifest>